{% extends 'notes/base.html' %}
{% load static %}

{% block content %}
<header class="appbar">
  <img
    src="{% static 'notes/img/logo-getit.png' %}"
    class="logo"
    alt="Logo do Get-it"
  />

  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</header>

  <main class="container">
    <form class="form-card" method="POST">
      {% csrf_token %}

      <input
        class="form-card-title"
        type="text"
        name="titulo"
        placeholder="Título"
      />

      <textarea
        class="autoresize"
        name="detalhes"
        placeholder="Digite o conteúdo..."
      ></textarea>

      <button class="btn" type="submit">Criar</button>
    </form>

    <div class="card-container">
      {% for note in notes %}
        <div class="card">
          <h3 class="card-title">{{ note.title }}</h3>

          <div class="card-content">
            <p>{{ note.content }}</p>
          </div>

            <a
            class="card-delete"
            href="{% url 'delete_note' note.id %}"
            title="Excluir anotação"
            aria-label="Excluir anotação"
          >
            <img
              src="{% static 'notes/img/delete.png' %}"
              alt=""
            />
          </a>

          <a
          class="card-edit"
          href="{% url 'edit_note' note.id %}"
          title="Editar anotação"
          aria-label="Editar anotação"
        >
          <img
            src="{% static 'notes/img/edit.png' %}"
            alt=""
          />
        </a>


        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}